 * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Arial, sans-serif;
            }

            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                 background:url('resources/background.png');
                background-size: cover;
            }

            header {
                background-color:#2699D9A6;
                color: white;
                padding: 10px;
                text-align: center;
            }

            main {
                flex: 1;
                padding: 20px;
               
            }

            .log-container {
                max-width: 800px;
                margin: 0 auto;
            }

            .log-entry {
                background-color: transparent;
                backdrop-filter: blur(20px);
                border: 1px solid #2699D9;
                padding: 15px;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2),
                2px 2px 10px #26C1D9A1;
            }

            .log-entry h2 {
                margin-bottom: 10px;
                color:#ECECEC;
            }

            .log-entry a {
                text-decoration: none;
                color: #333;
            }

            .log-entry a:hover {
                text-decoration: underline;
            }

            .log-entry p {
                margin-bottom: 10px;
                line-height: 1.6;
            }

            .timestamp {
                font-size: 0.9em;
                color: #999;
            }

            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                background-color: #3b5998;
                color: white;
                text-align: center;
                padding: 10px;
                display: none;
            }

            .read-more-text {
                display: none;
            }

            .read-more-text-show {
                display: inline;
                color: #FEFEFE;
            }

            .read-more-btn {
                color: #2699D9;
                cursor: pointer;
                float: right;
                text-decoration: underline;
            }

            .log-entry p::after {
                content: "";
                display: table;
                clear: both;
            }

            .src {
                padding: 10px;
                font-size: 17px;
                border: 1px solid #26C1D9A6;
                width: 100%;
                margin-bottom: 20px;
                background: transparent;
                backdrop-filter: blur(10px)
            }

            

            
